body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(43, 42, 42);
    color:cadetblue;
    margin: 20px;
    text-align: center;
}

h1 {
    background-color: rgb(85, 75, 75);
}

p, ul, ol, table {
    line-height: 1.5;
    text-align: left;
    max-width: 300px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 250px;

}

table {
    background-color: rgb(79, 74, 74);
    width: 60%;
    margin: 0 auto 10px auto
}

a {
    color: white
}
a:hover {
    color: grey;
}

th, td {
    border: 1px solid black
}