body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(43, 42, 42);
    color:cadetblue;
    margin: 20px;
    text-align: center;
}

h1 {
    background-color: rgb(0, 0, 0);
}

p, ul, ol, table {
    line-height: 2;
    text-align: left;
    max-width: 300px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 250px;

}

table {
    background-color: rgb(35, 33, 33);
    width: 60%;
    margin: 0 auto 10px auto
}